# Get your key at https://console.cloud.google.com/apis/credentials
# Enable Vision API at https://console.cloud.google.com/apis/library/vision.googleapis.com
GOOGLE_VISION_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXX
